<!DOCTYPE html>
<html>
  <head>
    <title>GCAT</title>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='container'>
      <div id='header'>
        <h1>GCAT</h1>
      </div>
      <div id='contents'>
        <% flash.each do |key, value| %>
        <div id="flash_<%= key %>">
          <%= simple_format(value) %>
        </div>  
        <% end %>  
        <%= yield %>
      </div>
      <div id='footer' style="height:80px;">
        <div id='header-logo' style='float:right;'> <%= image_tag 'lgplv.jpg' %> <%= image_tag 'GLBRC_horz_cmyk_small.jpg' %> </div>
      </div>
    </div>
    <div id='copyright-stmt'>
      Copyright 2012 The Board of Regents of the University of Wisconsin System
    </div>
  </body>
</html>
